### == operator

checks if value on the left is equals to right or not

In [25]:
x =0.3
y = 0.7

x+y == 1.0

True

In [26]:
0.1+0.2 == 0.3

False

In [27]:
1.0//0.1

9.0

In [28]:
x = 0.1+0.1+0.1

In [29]:
y = 0.3

In [30]:
x - y < 0.00000001

True

In [31]:
x,y = 0.1, 0.2
x+y - 0.3 < 0.00001

True

what happens with functions

In [34]:
n = "12.5"
float(n)
int(n)

ValueError: invalid literal for int() with base 10: '12.5'

In [35]:
n = "12.5"
y = float(n)
print(int(y))
y

12

12.5

In [36]:
int(float(n))

12

### Strings and Text

In [37]:
' '
""
""" """
''' '''

' '

this is Anthony's Laptop

In [38]:
string = "This is Anthony's Laptop"
string

"This is Anthony's Laptop"

In [39]:
string = '''aofhuigf

sshjhkfjd


dfhjkdshfkjdsfhk

dfhkjdshfkj'''

string

'aofhuigf\n\nsshjhkfjd\n\n\ndfhjkdshfkjdsfhk\n\ndfhkjdshfkj'

In [40]:
print(string)

aofhuigf

sshjhkfjd


dfhjkdshfkjdsfhk

dfhkjdshfkj

In [41]:
x = 'My name\'s ashu'
x

"My name's ashu"

In [42]:
print(x)

My name's ashu

In [43]:
print('\n')

In [44]:
'\n'

'\n'

In [45]:
x = 'c:\musers\namah'
print(x)

c:\musers
amah

In [46]:
x = 'c:\musers\\namah'
print(x)

c:\musers\namah

In [47]:
x = r'c:\musers\namah'
#it's a raw string. Take it as it is
print(x)

c:\musers\namah

In [48]:
x = r'c:\users\namah'
#it's a raw string. Take it as it is
print(x)

c:\users\namah

In [49]:
char = 'a'
type(char)

str

In [50]:
name = "Jhimmiki Kammal"

In [51]:
#type = "video"
#uncomment this to see the error below.

In [52]:
print(type)

<class 'type'>

In [53]:
type(12)

int

In [57]:
string = r"c:\users\namah"
"""
what is done here is
that r replaces the 
problematic characters with escape character
"""
string

'c:\\users\\namah'

In [59]:
mytype = "video"

In [60]:
name + mytype

'Jhimmiki Kammalvideo'

In [61]:
name + ' ' +mytype

'Jhimmiki Kammal video'

In [62]:
name * 4

'Jhimmiki KammalJhimmiki KammalJhimmiki KammalJhimmiki Kammal'

In [63]:
type(name)

str

In [64]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
name.capitalize

In [66]:
name.capitalize()

'Jhimmiki kammal'

In [67]:
name.__sizeof__

In [68]:
name.__sizeof__()

64

In [69]:
name.count()

TypeError: count() takes at least 1 argument (0 given)

In [70]:
help(count)

NameError: name 'count' is not defined

In [71]:
help(name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [72]:
name.count('m')

4

In [73]:
name.count('i')

3

In [74]:
name.count('m',4)

3

In [76]:
name.count('m',4,5)

1

In [77]:
name.count('m',3,4)

1

In [78]:
name

'Jhimmiki Kammal'

In [79]:
name.count('m',,4)

SyntaxError: invalid syntax (<ipython-input-79-b65dd7e219c2>, line 1)

In [80]:
name[0]

'J'

In [81]:
name[1]

'h'

In [82]:
len(name)

15

In [83]:
name[15]

IndexError: string index out of range

In [84]:
name[14]

'l'

In [85]:
name[-1]

'l'

In [86]:
name[-2]

'a'

In [89]:
name[0] + name[1] + name[2]+name[3]

'Jhim'

### Slicing

: --> python ka chakku

In [90]:
name[0:6]

'Jhimmi'

In [91]:
name[0:]

'Jhimmiki Kammal'

In [92]:
name[:15]

'Jhimmiki Kammal'

In [93]:
name[:]

'Jhimmiki Kammal'

In [94]:
name[0::1]

'Jhimmiki Kammal'

In [95]:
name[0::2]

'Jimk aml'

In [96]:
name[::2]

'Jimk aml'

In [99]:
name[::0]

ValueError: slice step cannot be zero

In [100]:
name[15:0:-1]

'lammaK ikimmih'

In [101]:
name[15::-1]

'lammaK ikimmihJ'

In [102]:
name[14::-1]

'lammaK ikimmihJ'

In [103]:
name[15]

IndexError: string index out of range

### for loop

for i in <sequence>:

In [105]:
for i in name:
    print(i)

J
h
i
m
m
i
k
i

K
a
m
m
a
l

In [107]:
for kuchbhi in name:
    print(kuchbhi)
    print("hello")

J
hello
h
hello
i
hello
m
hello
m
hello
i
hello
k
hello
i
hello

hello
K
hello
a
hello
m
hello
m
hello
a
hello
l
hello

In [108]:
for kuchbhi in name:
        print(kuchbhi)
    print("hello")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [109]:
for a in name:
    print(a, end = ' ')

J h i m m i k i   K a m m a l

In [112]:
for a in name:
    print(a, end = '')

Jhimmiki Kammal

In [113]:
print(a)

l

In [115]:
for a in name:
    print(a,)
print("for loop has ended")
print("my watch starts")

J
h
i
m
m
i
k
i

K
a
m
m
a
l
for loop has ended
my watch starts

### Lists

sequence of different types of items

In [116]:
#empty string 
string = ''
string

''

In [117]:
my_list = []

In [118]:
my_list

[]

In [119]:
my_list[0] = 12

IndexError: list assignment index out of range

In [120]:
my_list.append(12)

In [121]:
my_list

[12]

In [122]:
my_list.append("video")

In [123]:
my_list

[12, 'video']

In [124]:
my_list.append(12.5)
my_list

[12, 'video', 12.5]

In [125]:
my_list.append([])
my_list

[12, 'video', 12.5, []]

In [126]:
my_list[0]

12

In [127]:
my_list[-1]

[]

In [128]:
my_list[:]

[12, 'video', 12.5, []]

In [129]:
my_list[1:3]

['video', 12.5]

In [130]:
for item in my_list:
    print(item)

12
video
12.5
[]

In [131]:
len(my_list)

4

In [137]:
my_list

[12, 'video', 12.5, []]

In [138]:
new_list = [0,1,2]
my_list.append(new_list)
my_list

[12, 'video', 12.5, [], [0, 1, 2]]

In [139]:
my_list[4]

[0, 1, 2]

In [140]:
my_list[4][1]

1

Indexing and Slicing difference

In [142]:
name[0:4]  #this give a new string

'Jhim'

In [144]:
my_list[1:3] #this gives a new list copied from original

['video', 12.5]

In [145]:
my_list

[12, 'video', 12.5, [], [0, 1, 2]]

In [146]:
my_list_new = my_list # no copy
my_list_new

[12, 'video', 12.5, [], [0, 1, 2]]

In [147]:
my_list[1] = "music"

In [148]:
my_list

[12, 'music', 12.5, [], [0, 1, 2]]

In [149]:
my_list_new

[12, 'music', 12.5, [], [0, 1, 2]]

In [150]:
#when a copy is made and when it's not Check yourself